body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.list-style {
    list-style: none;
}
.navigation {
   font-style: normal;
   font-size: 14px; 
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0.02em;
   text-decoration: none;
}
.navigation:hover, .navigation:focus {
    color: #2196F3;
}
.top-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.top-contact:hover, .top-contact:focus, .lower-contact:hover, .lower-contact:focus {
    color: #2196F3;
}
.color-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.color-logo-web {
    color: #2196F3
}
.logo-white {
    color:#FFFFFF;
}
.list-style > li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF
}
.lower-contact {
    color: rgba(255, 255, 255, 0.6);
}
.background-styling {
    background-color: #2f303a;
}
.main-slogan {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    color: #FFFFFF
}